.circle{
    height: 300px;
    width: 300px;
    background-color: magenta;
    transition: background-color 2s 1s;
    
}
.circle:hover{
    background-color: cyan;
    border-radius: 50%;
    
}
There is a quick way of getting things done. Why data breaching is so much of a concern?
1. They know it all
First thing first is that if we have a FB account, then there are very high chances that our data has already been breached or leaked by the prople 
working at FB or  fuckng non sense thing.